##################################################
###### Local Kernel Settings #####################
##################################################

# Swapiness
vm.swappiness = {{ swappiness_percentage }}
