{% set sample_data_value = 0 if lookup('env','CMDB_SAMPLE_DATA') != 'yes' else 1 %}
<?xml version="1.0" encoding="UTF-8"?>
<installation>
  <mode>install</mode>
  <preinstall>
    <copies type="array"/>
  </preinstall>
  <source_dir>datamodels/2.x/</source_dir>
  <datamodel_version>2.5.0</datamodel_version>
  <previous_configuration_file></previous_configuration_file>
  <extensions_dir>extensions</extensions_dir>
  <target_env>production</target_env>
 <workspace_dir></workspace_dir>
 <database>
   <server>localhost</server>
   <user>{{ itop_mysql_user }}</user>
   <pwd>{{ itop_mysql_password }}</pwd>
   <name>{{ itop_mysql_db }}</name>
   <db_tls_enabled></db_tls_enabled>
   <db_tls_ca></db_tls_ca>
   <prefix></prefix>
 </database>
 <url>http://{{ itop_ip }}/{{install_dir}}/</url>
 <graphviz_path>/usr/bin/dot</graphviz_path>
 <admin_account>
   <user>{{ itop_user }}</user>
   <pwd>{{ itop_pass }}</pwd>
   <language>ES CR</language>
 </admin_account>
 <language>ES CR</language>
 <selected_modules type="array">
   <item>authent-external</item>
   <item>authent-ldap</item>
   <item>authent-local</item>
   <item>itop-backup</item>
   <item>itop-config</item>
   <item>itop-profiles-itil</item>
   <item>itop-sla-computation</item>
   <item>itop-tickets</item>
   <item>itop-welcome-itil</item>
   <item>teemip-webservices</item>
   <item>itop-config-mgmt</item>
   <item>itop-attachments</item>
   <item>itop-hub-connector</item>
   <item>itop-datacenter-mgmt</item>
   <item>itop-endusers-devices</item>
   <item>itop-storage-mgmt</item>
  <item>itop-virtualization-mgmt</item>
  <item>itop-bridge-virtualization-storage</item>
  <item>itop-service-mgmt</item>
  <item>itop-request-mgmt-itil</item>
  <item>itop-incident-mgmt-itil</item>
  <item>itop-portal</item>
  <item>itop-portal-base</item>
  <item>itop-full-itil</item>
  <item>itop-change-mgmt-itil</item>
  <item>itop-knownerror-mgmt</item>
  <item>teemip-storage-mgmt-adaptor</item>
 <item>teemip-network-mgmt</item>
 <item>teemip-ip-mgmt</item>
 <item>teemip-virtualization-mgmt-adaptor</item>
 <item>teemip-config-mgmt-adaptor</item>
 <item>teemip-ipv6-mgmt</item>
 <item>teemip-datacenter-mgmt-adaptor</item>
 <item>teemip-endusers-devices-adaptor</item>
</selected_modules>
<selected_extensions type="array">
   <item>itop-config-mgmt-core</item>
   <item>itop-config-mgmt-datacenter</item>
   <item>itop-config-mgmt-end-user</item>
   <item>itop-config-mgmt-storage</item>
   <item>itop-config-mgmt-virtualization</item>
   <item>itop-service-mgmt-enterprise</item>
   <item>itop-ticket-mgmt-itil</item>
   <item>itop-ticket-mgmt-itil-user-request</item>
   <item>itop-ticket-mgmt-itil-incident</item>
   <item>itop-ticket-mgmt-itil-enhanced-portal</item>
   <item>itop-change-mgmt-itil</item>
   <item>itop-kown-error-mgmt</item>
  <item>teemip-core-ip-mgmt</item>
</selected_extensions>
<sample_data>{{ sample_data_value }}</sample_data>
<old_addon></old_addon>
<options>
  <generate_config>{{ sample_data_value }}</generate_config>
</options>
<mysql_bindir></mysql_bindir>
</installation>
