#
# VHOST: {{ dns_public_domain }}
#

<VirtualHost *:80>

  ServerAdmin webmaster@{{ dns_public_domain }}
  ServerName {{ dns_public_domain }}

  # Redirect permanent / https://{{ dns_public_domain }}/
  ###RewriteEngine On
  #RewriteCond %{HTTPS} off
  #RewriteRule (.) https://%{SERVER_NAME}/%$1 [R,L]
  ###RewriteCond %{SERVER_PORT} 80
  #RewriteRule ^(.)$ https://{{ dns_public_domain }}/$1 [R=301,L]
  #RewriteRule (.) https://%{HTTP_HOST}%{REQUEST_URI}
  ###RewriteRule ^/?(.) https://%{SERVER_NAME}/$1 [R,L]

  DocumentRoot /var/www/{{ dns_public_domain }}/htdocs

  ErrorLog /var/www/{{ dns_public_domain }}/logs/error.log
  CustomLog /var/www/{{ dns_public_domain }}/logs/access.log combined

  <Directory /var/www/{{ dns_public_domain }}/htdocs/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>
